In [38]:
from datetime import datetime, timedelta

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

#Library
# ---
# For scrape
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

# Options driver
from selenium.webdriver.chrome.options import Options

# For dataframes
import pandas as pd
from pandas import json_normalize

# For simulate human behavior.
import time
from time import sleep
import random

# Clear data
import unidecode
#unaccented_string = unidecode.unidecode(accented_string)

# Manipulate Json files
import json
import re
import numpy as np
from datetime import datetime
from selenium.webdriver.common.keys import Keys

In [39]:
# Setting
options= Options()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(ChromeDriverManager().install(),options=options)
# we open our page
driver.get("https://www.sbs.gob.pe/app/pp/EstadisticasSAEEPortal/Paginas/TIActivaTipoCreditoEmpresa.aspx?tip=B#")

====== WebDriver manager ======
Current google-chrome version is 105.0.5195
Get LATEST chromedriver version for 105.0.5195 google-chrome
Driver [C:\Users\Anzony\.wdm\drivers\chromedriver\win32\105.0.5195.52\chromedriver.exe] found in cache

In [40]:
# Get data from dates
data_date = pd.DataFrame( {'date_real' : pd.date_range(start="01-01-2000",end="08-31-2022") })

data_date['date_info'] = data_date.date_real.dt.strftime("%d/%m/%Y")
data_split = data_date.date_info.str.split("/", expand= True ).astype(int)
data_split.columns = ["Day", "Month", "Year"]
data_date = pd.concat([ data_date, data_split ], axis = 1 )

data_date['date_real'] = pd.to_datetime(data_date.date_info, format="%d/%m/%Y")

# Get the last 5 days per month
final_date_data = data_date.sort_values('date_real').groupby([ "Year" , "Month" ]).tail(1).reset_index(drop = True)

dates_list = final_date_data.date_real.tolist()

In [88]:
# Get data from dates
data_date = pd.DataFrame( {'date_real' : pd.date_range(start="03-31-2001",end="08-31-2022", freq = "D") })

data_date['date_info'] = data_date.date_real.dt.strftime("%d/%m/%Y")
data_split = data_date.date_info.str.split("/", expand= True ).astype(int)
data_split.columns = ["Day", "Month", "Year"]
data_date = pd.concat([ data_date, data_split ], axis = 1 )

data_date['date_real'] = pd.to_datetime(data_date.date_info, format="%d/%m/%Y")

# Get the last 5 days per month
final_date_data = data_date.sort_values('date_real').groupby([ "Year" , "Month" ]).tail(1).reset_index(drop = True)

dates_list = final_date_data.date_real.tolist()

In [89]:
# Lists of information
list_dates = []
list_table = []

# Loop of dates
for date1 in dates_list:
    
    # Iterator
    i = 1
    
    # loop of information
    while i < 8:
        
        driver.switch_to.default_content()
        # Get information of dates
        day_float = date1.day
        month_float = date1.month
        year_float = date1.year
        
        # Input date of information
        date_string = date1.strftime("%d/%m/%Y")
        print("\n",date_string)
        driver.execute_script( f"document.getElementById('ctl00_cphContent_rdpDate_dateInput').value = '{date_string}'")
#         driver.find_element_by_id("ctl00_cphContent_rdpDate_dateInput_wrapper").send_keys(date_string)
        driver.find_element_by_id("ctl00_cphContent_rdpDate_dateInput").send_keys(Keys.RETURN)
        time.sleep( 3 )
        
        table_clean1 = 15
        table_clean2 = 15
        table_clean3 = 15
            
        # Try getting 1 table in another frame
        try:
            # Get tables
            section_id_table = driver.find_element_by_id( "ctl00_cphContent_rpgActualMn_OT" )
            table_html = section_id_table.get_attribute('outerHTML')
            table_pd = pd.read_html( table_html )

            # generate table objects
            table0, table1 = table_pd[0], table_pd[1]
            table_clean = table1.copy()

            # Number of rows of second table
            tb1_rows = table1.shape[0]
            drop_rows = np.arange( 1, tb1_rows + 2 )

            # Clean first table
            table0 = table0.drop( drop_rows, axis = 0 )

            # Assign values to new table
            col_name = table0.iloc[0, 0]
            col_values = table0.iloc[1:, 0].tolist()
            table_clean.insert( loc = 0, column= col_name, value = col_values)
            table_clean1 = table_clean.copy()
            
            
        except:
            print( "No 1 table in the same frame" )
            table_clean1 = "Null"
            
            
        # Try getting 1 table in another frame
        try:
            # Switch elements
            driver.switch_to.frame(driver.find_element_by_id("ctl00_cphContent_pnContenidoAnteriorMnASP"))
            section_tab_table = driver.find_element_by_xpath( "/html/body/form/table/tbody" )
            table_html = section_tab_table.get_attribute('outerHTML')
            table_pd = pd.read_html( table_html )

            # Cleaning tablr
            table_clean2 = table_pd[1].iloc[2:, :].copy().reset_index( drop = True )

            # Changing switch
            driver.switch_to.default_content()
            
        except:
            print( "No 1 table in another frame" )
            table_clean2 = "Null"
            
            
        # Try getting table of 6 layers in another frame
        try:
            
            # Switch elements
            driver.switch_to.frame(driver.find_element_by_id("ctl00_cphContent_pnContenidoAnteriorMnASP"))
            section_tab_table = driver.find_element_by_xpath( "/html/body/form/table/tbody" )
            table_html = section_tab_table.get_attribute('outerHTML')
            table_pd = pd.read_html( table_html )

            # Cleaning table
            table_clean3 = pd.concat([ table_pd[3], table_pd[6].iloc[:, 1:] ], axis = 1 )

            # Changing switch
            driver.switch_to.default_content()
        
        except:
            print( "No 2 tables in another frame" )
            table_clean3 = "Null"
            
            
        # Check what to save
        if ( ( isinstance( table_clean3, str ) == False ) and ( table_clean3.shape[1] > 5 ) ):
            
            # Data with no frame
            table_clean3.to_excel( fr"B_RawData/sbs/B_RawData/bancos/table_clean_{day_float}_{month_float}_{year_float}.xlsx", 
                                  index = False, header= False )
            # To break
            i = 8
            list_dates.append( date1 )
            list_table.append( "Table" )
            print( "tabl3 Yes")
            
        elif ( ( isinstance( table_clean2, str ) == False ) and ( table_clean2.shape[1] > 5 ) ):
            
            # Data with frame and 2 tables
            table_clean2.to_excel( fr"B_RawData/sbs/B_RawData/bancos/table_clean_{day_float}_{month_float}_{year_float}.xlsx", 
                                  index = False, header= False )
            # To break
            i = 8
            list_dates.append( date1 )
            list_table.append( "Table" )
            print( "tabl2 Yes")
            
        elif ( ( isinstance( table_clean1, str ) == False ) and ( table_clean1.shape[1] > 5 ) ):
            # Data with frame and 1 table
            table_clean1.to_excel( fr"B_RawData/sbs/B_RawData/bancos/table_clean_{day_float}_{month_float}_{year_float}.xlsx", 
                               index = False )
            
            # To break
            i = 8
            list_dates.append( date1 )
            list_table.append( "Table" )
            print( "tabl1 Yes")
            
        # No table information
        # Go to a previous day
        else:
            # Day ago
            print( f"GO {i} before")
            date1 = date1 - timedelta(days= 1)
            print( date1 )
            i = i + 1
            list_dates.append( date1 )
            list_table.append( "No Table" )

 31/03/2001
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-04-29 00:00:00

 29/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-04-28 00:00:00

 28/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-04-27 00:00:00

 27/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-04-26 00:00:00

 26/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-04-25 00:00:00

 25/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-04-24 00:00:00

 24/04/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-04-23 00:00:00

 31/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-05-30 00:00:00

 30/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-05-29 00:00:00

 29/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-05-28 00:00:00

 28/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-05-27 00:00:00

 27/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-05-26 00:00:00

 26/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-05-25 00:00:00

 25/05/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-05-24 00:00:00

 30/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-06-29 00:00:00

 29/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-06-28 00:00:00

 28/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-06-27 00:00:00

 27/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-06-26 00:00:00

 26/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-06-25 00:00:00

 25/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-06-24 00:00:00

 24/06/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-06-23 00:00:00

 31/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-07-30 00:00:00

 30/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-07-29 00:00:00

 29/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-07-28 00:00:00

 28/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-07-27 00:00:00

 27/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-07-26 00:00:00

 26/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-07-25 00:00:00

 25/07/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-07-24 00:00:00

 31/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-08-30 00:00:00

 30/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-08-29 00:00:00

 29/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-08-28 00:00:00

 28/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-08-27 00:00:00

 27/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-08-26 00:00:00

 26/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-08-25 00:00:00

 25/08/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-08-24 00:00:00

 30/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-09-29 00:00:00

 29/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-09-28 00:00:00

 28/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-09-27 00:00:00

 27/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-09-26 00:00:00

 26/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-09-25 00:00:00

 25/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-09-24 00:00:00

 24/09/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-09-23 00:00:00

 31/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-10-30 00:00:00

 30/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-10-29 00:00:00

 29/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-10-28 00:00:00

 28/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-10-27 00:00:00

 27/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-10-26 00:00:00

 26/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-10-25 00:00:00

 25/10/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-10-24 00:00:00

 30/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-11-29 00:00:00

 29/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-11-28 00:00:00

 28/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-11-27 00:00:00

 27/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-11-26 00:00:00

 26/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-11-25 00:00:00

 25/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-11-24 00:00:00

 24/11/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-11-23 00:00:00

 31/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2001-12-30 00:00:00

 30/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2001-12-29 00:00:00

 29/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2001-12-28 00:00:00

 28/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2001-12-27 00:00:00

 27/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2001-12-26 00:00:00

 26/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2001-12-25 00:00:00

 25/12/2001
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2001-12-24 00:00:00

 31/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-01-30 00:00:00

 30/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-01-29 00:00:00

 29/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-01-28 00:00:00

 28/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-01-27 00:00:00

 27/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-01-26 00:00:00

 26/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-01-25 00:00:00

 25/01/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-01-24 00:00:00

 28/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-02-27 00:00:00

 27/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-02-26 00:00:00

 26/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-02-25 00:00:00

 25/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-02-24 00:00:00

 24/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-02-23 00:00:00

 23/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-02-22 00:00:00

 22/02/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-02-21 00:00:00

 31/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-03-30 00:00:00

 30/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-03-29 00:00:00

 29/03/2002

No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-03-28 00:00:00

 28/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-03-27 00:00:00

 27/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-03-26 00:00:00

 26/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-03-25 00:00:00

 25/03/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-03-24 00:00:00

 30/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-04-29 00:00:00

 29/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-04-28 00:00:00

 28/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-04-27 00:00:00

 27/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-04-26 00:00:00

 26/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-04-25 00:00:00

 25/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-04-24 00:00:00

 24/04/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-04-23 00:00:00

 31/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-05-30 00:00:00

 30/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-05-29 00:00:00

 29/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-05-28 00:00:00

 28/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-05-27 00:00:00

 27/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-05-26 00:00:00

 26/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-05-25 00:00:00

 25/05/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-05-24 00:00:00

 30/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-06-29 00:00:00

 29/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-06-28 00:00:00

 28/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-06-27 00:00:00

 27/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-06-26 00:00:00

 26/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-06-25 00:00:00

 25/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-06-24 00:00:00

 24/06/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-06-23 00:00:00

 31/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-07-30 00:00:00

 30/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-07-29 00:00:00

 29/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-07-28 00:00:00

 28/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-07-27 00:00:00

 27/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-07-26 00:00:00

 26/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-07-25 00:00:00

 25/07/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-07-24 00:00:00

 31/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-08-30 00:00:00

 30/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2002-08-29 00:00:00

 29/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2002-08-28 00:00:00

 28/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2002-08-27 00:00:00

 27/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 5 before
2002-08-26 00:00:00

 26/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 6 before
2002-08-25 00:00:00

 25/08/2002
No 1 table in the same frame
No 2 tables in another frame
GO 7 before
2002-08-24 00:00:00

 30/09/2002
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2002
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2002
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2002-11-29 00:00:00

 29/11/2002
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2002
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2003
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2003-05-30 00:00:00

 30/05/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2003
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2003-08-30 00:00:00

 30/08/2003
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2003-08-29 00:00:00

 29/08/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2003
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2003-11-29 00:00:00

 29/11/2003
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2003-11-28 00:00:00

 28/11/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2003
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2004
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2004-01-30 00:00:00

 30/01/2004
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2004-01-29 00:00:00

 29/01/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 29/02/2004
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2004-02-28 00:00:00

 28/02/2004
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2004-02-27 00:00:00

 27/02/2004
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2004-02-26 00:00:00

 26/02/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2004
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2004-07-30 00:00:00

 30/07/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2004
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2004-10-30 00:00:00

 30/10/2004
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2004-10-29 00:00:00

 29/10/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2004
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2005
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2005-04-29 00:00:00

 29/04/2005
No 1 table in the same frame

No 2 tables in another frame
tabl2 Yes

 31/05/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2005
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2005-07-30 00:00:00

 30/07/2005
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2005-07-29 00:00:00

 29/07/2005
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2005-07-28 00:00:00

 28/07/2005
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2005-07-27 00:00:00

 27/07/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2005
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2005-11-29 00:00:00

 29/11/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2005
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2005-12-30 00:00:00

 30/12/2005
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2006
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2006-04-29 00:00:00

 29/04/2006
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2006-04-28 00:00:00

 28/04/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2006
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2006-09-29 00:00:00

 29/09/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2006
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2006-12-30 00:00:00

 30/12/2006
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2006-12-29 00:00:00

 29/12/2006
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2007
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2007-03-30 00:00:00

 30/03/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2007
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2007-06-29 00:00:00

 29/06/2007
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2007-06-28 00:00:00

 28/06/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2007
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2007-09-29 00:00:00

 29/09/2007
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2007-09-28 00:00:00

 28/09/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2007
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2008
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 29/02/2008
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2008
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2008
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2008
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2008-05-30 00:00:00

 30/05/2008
No 1 table in the same frame
tabl3 Yes

 30/06/2008
No 1 table in the same frame
tabl3 Yes

 31/07/2008
No 1 table in the same frame
tabl3 Yes

 31/08/2008
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2008-08-30 00:00:00

 30/08/2008
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2008-08-29 00:00:00

 29/08/2008
No 1 table in the same frame
tabl3 Yes

 30/09/2008
No 1 table in the same frame
tabl3 Yes

 31/10/2008
No 1 table in the same frame
tabl3 Yes

 30/11/2008
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2008-11-29 00:00:00

 29/11/2008
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2008-11-28 00:00:00

 28/11/2008
No 1 table in the same frame
tabl3 Yes

 31/12/2008
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2008-12-30 00:00:00

 30/12/2008
No 1 table in the same frame
tabl3 Yes

 31/01/2009
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2009-01-30 00:00:00

 30/01/2009
No 1 table in the same frame
tabl3 Yes

 28/02/2009
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2009-02-27 00:00:00

 27/02/2009
No 1 table in the same frame
tabl3 Yes

 31/03/2009
No 1 table in the same frame
tabl3 Yes

 30/04/2009
No 1 table in the same frame
tabl3 Yes

 31/05/2009
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2009-05-30 00:00:00

 30/05/2009
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2009-05-29 00:00:00

 29/05/2009
No 1 table in the same frame
tabl3 Yes

 30/06/2009
No 1 table in the same frame
tabl3 Yes

 31/07/2009
No 1 table in the same frame
tabl3 Yes

 31/08/2009
No 1 table in the same frame
tabl3 Yes

 30/09/2009
No 1 table in the same frame
tabl3 Yes

 31/10/2009
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2009-10-30 00:00:00

 30/10/2009
No 1 table in the same frame
tabl3 Yes

 30/11/2009
No 1 table in the same frame
tabl3 Yes

 31/12/2009
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2009-12-30 00:00:00

 30/12/2009
No 1 table in the same frame
tabl3 Yes

 31/01/2010
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2010-01-30 00:00:00

 30/01/2010
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2010-01-29 00:00:00

 29/01/2010
No 1 table in the same frame
tabl3 Yes

 28/02/2010
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2010-02-27 00:00:00

 27/02/2010
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2010-02-26 00:00:00

 26/02/2010
No 1 table in the same frame
tabl3 Yes

 31/03/2010
No 1 table in the same frame
tabl3 Yes

 30/04/2010
No 1 table in the same frame
tabl3 Yes

 31/05/2010
No 1 table in the same frame
tabl3 Yes

 30/06/2010
No 1 table in the same frame
tabl3 Yes

 31/07/2010
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2010-07-30 00:00:00

 30/07/2010
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2010-07-29 00:00:00

 29/07/2010
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2010-07-28 00:00:00

 28/07/2010
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2010-07-27 00:00:00

 27/07/2010
No 1 table in the same frame
tabl3 Yes

 31/08/2010
No 1 table in the same frame
tabl3 Yes

 30/09/2010
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2010

No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2010-10-30 00:00:00

 30/10/2010
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2010-10-29 00:00:00

 29/10/2010
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2010
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2010
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2011
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2011-04-29 00:00:00

 29/04/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2011
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2011-07-30 00:00:00

 30/07/2011
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2011-07-29 00:00:00

 29/07/2011
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2011-07-28 00:00:00

 28/07/2011
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2011-07-27 00:00:00

 27/07/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2011
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2011-10-30 00:00:00

 30/10/2011
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2011-10-29 00:00:00

 29/10/2011
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2011-10-28 00:00:00

 28/10/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2011
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2011-12-30 00:00:00

 30/12/2011
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 29/02/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2012
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2012-03-30 00:00:00

 30/03/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2012
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2012-06-29 00:00:00

 29/06/2012
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2012-06-28 00:00:00

 28/06/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2012
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2012-08-30 00:00:00

 30/08/2012
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2012-08-29 00:00:00

 29/08/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2012
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2012-09-29 00:00:00

 29/09/2012
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2012-09-28 00:00:00

 28/09/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2012
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2012-12-30 00:00:00

 30/12/2012
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2012-12-29 00:00:00

 29/12/2012
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2012-12-28 00:00:00

 28/12/2012
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2013
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2013-03-30 00:00:00

 30/03/2013
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2013-03-29 00:00:00

 29/03/2013
No 1 table in the same frame
No 2 tables in another frame
GO 3 before
2013-03-28 00:00:00

 28/03/2013
No 1 table in the same frame
No 2 tables in another frame
GO 4 before
2013-03-27 00:00:00

 27/03/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2013
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2013-06-29 00:00:00

 29/06/2013
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2013-06-28 00:00:00

 28/06/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2013
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2013-08-30 00:00:00

 30/08/2013
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2013-08-29 00:00:00

 29/08/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2013
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2013-11-29 00:00:00

 29/11/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2013
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2013-12-30 00:00:00

 30/12/2013
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2014
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2014-05-30 00:00:00

 30/05/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2014
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2014-08-30 00:00:00

 30/08/2014
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2014-08-29 00:00:00

 29/08/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2014
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2014-11-29 00:00:00

 29/11/2014
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2014-11-28 00:00:00

 28/11/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/12/2014
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/01/2015
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2015-01-30 00:00:00

 30/01/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 28/02/2015
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2015-02-27 00:00:00

 27/02/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/03/2015

No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/04/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/05/2015
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2015-05-30 00:00:00

 30/05/2015
No 1 table in the same frame
No 2 tables in another frame
GO 2 before
2015-05-29 00:00:00

 29/05/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/06/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/07/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/08/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/09/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 31/10/2015
No 1 table in the same frame
No 2 tables in another frame
GO 1 before
2015-10-30 00:00:00

 30/10/2015
No 1 table in the same frame
No 2 tables in another frame
tabl2 Yes

 30/11/2015
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2015
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2016-01-30 00:00:00

 30/01/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2016-01-29 00:00:00

 29/01/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 29/02/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2016-04-29 00:00:00

 29/04/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2016-07-30 00:00:00

 30/07/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2016-07-29 00:00:00

 29/07/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 3 before
2016-07-28 00:00:00

 28/07/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 4 before
2016-07-27 00:00:00

 27/07/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2016
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2016-12-30 00:00:00

 30/12/2016
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 28/02/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2017-04-29 00:00:00

 29/04/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2017-04-28 00:00:00

 28/04/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2017-06-29 00:00:00

 29/06/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2017-06-28 00:00:00

 28/06/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2017-09-29 00:00:00

 29/09/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2017-12-30 00:00:00

 30/12/2017
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2017-12-29 00:00:00

 29/12/2017
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 28/02/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2018-03-30 00:00:00

 30/03/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2018-03-29 00:00:00

 29/03/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 3 before
2018-03-28 00:00:00

 28/03/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2018-06-29 00:00:00

 29/06/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2018-06-28 00:00:00

 28/06/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2018-08-30 00:00:00

 30/08/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2018-08-29 00:00:00

 29/08/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2018-09-29 00:00:00

 29/09/2018
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2018-09-28 00:00:00

 28/09/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2018
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 28/02/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2019-03-30 00:00:00

 30/03/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2019-03-29 00:00:00

 29/03/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 3 before
2019-03-28 00:00:00

 28/03/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2019-06-29 00:00:00

 29/06/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2019-06-28 00:00:00

 28/06/2019

No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2019-08-30 00:00:00

 30/08/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2019-08-29 00:00:00

 29/08/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 3 before
2019-08-28 00:00:00

 28/08/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 4 before
2019-08-27 00:00:00

 27/08/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2019-10-30 00:00:00

 30/10/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2019
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2019-11-29 00:00:00

 29/11/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2019
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 29/02/2020
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2020-02-28 00:00:00

 28/02/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2020
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2020-05-30 00:00:00

 30/05/2020
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2020-05-29 00:00:00

 29/05/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2020
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2020-10-30 00:00:00

 30/10/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2020
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2021-01-30 00:00:00

 30/01/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2021-01-29 00:00:00

 29/01/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 28/02/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2021-02-27 00:00:00

 27/02/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2021-02-26 00:00:00

 26/02/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2021-07-30 00:00:00

 30/07/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/09/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/10/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2021-10-30 00:00:00

 30/10/2021
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2021-10-29 00:00:00

 29/10/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/11/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/12/2021
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/01/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 28/02/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/03/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/04/2022
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2022-04-29 00:00:00

 29/04/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/05/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 30/06/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/07/2022
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 1 before
2022-07-30 00:00:00

 30/07/2022
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 2 before
2022-07-29 00:00:00

 29/07/2022
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 3 before
2022-07-28 00:00:00

 28/07/2022
No 1 table in the same frame
No 1 table in another frame
No 2 tables in another frame
GO 4 before
2022-07-27 00:00:00

 27/07/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

 31/08/2022
No 1 table in another frame
No 2 tables in another frame
tabl1 Yes

### Resumen Table

In [49]:
import os

In [90]:
all_files = os.listdir(r"B_RawData\sbs\B_RawData\bancos")

date = all_files[0].split("table_clean_")[1].split(".")[0]

all_dates = []
for namefile in all_files:
    date = namefile.split("table_clean_")[1].split(".")[0]
    all_dates.append( date )

df1 = pd.DataFrame( { "Date" : all_dates})

df2 = pd.concat( (df1, df1.Date.str.split("_", expand=True).astype(int)), axis = 1).rename( columns = { 0 : "Day", 1 : "Month", 2 : "Year" })

years = df2.Year.unique()
for yr in years:
    
    n = df2[ df2.Year == yr ].shape[0]
    
    if n != 12 :
        print(yr)

2022
2002
2001